@import 'variables'

@mixin scrollbar($elem, $bg, $fg)
  #{ $elem }::-webkit-scrollbar
    width: $scrollbar-width
    background-color: $bg

  #{ $elem }::-webkit-scrollbar-track
    background-color: $bg

  #{ $elem }::-webkit-scrollbar-thumb
    background-color: rgba( $fg, .25 )


@mixin scheme($bg, $fg)
  color: $fg

  #writer
    #background,
    #sidebar,
    #status-bar
      background: $bg

    #sidebar
      background: $bg
      border-color: transparent

      &.open
        border-color: darken( $bg, 6 )

    .file-tree-item
      &:hover
        background-color: darken( $bg, 6 )

    #theme-selector .select
      border-color: rgba( $fg, 0.75 )

      &:hover
        border-color: rgba( $fg, 0.35 )

    #context-menu
      color: $bg
      background: rgba( $fg, 0.9 )

    #modal
      background: darken( rgba( $bg, 0.6 ), 10 )

      .modal
        background: $bg


  #export-manager
    background: $bg


  @include scrollbar('.editor .pane',    $bg, $fg)
  @include scrollbar('#sidebar-content', $bg, $fg)
  @include scrollbar('#modal',           $bg, $fg)


#app
  &.scheme-sharp
    @include scheme($sharp-bg, $sharp-fg)

  &.scheme-smooth
    @include scheme($smooth-bg, $smooth-fg)

  &.scheme-frost
    @include scheme($frost-bg, $frost-fg)

  &.scheme-solarized
    @include scheme($solarized-bg, $solarized-fg)

  &.scheme-dark
    @include scheme($dark-bg, $dark-fg)

  &.scheme-contrast
    @include scheme($contrast-bg, $contrast-fg)


  &.font-family-merriweather
    .medium-editor
      font-family: Merriweather, serif

  &.font-family-roboto
    .medium-editor
      font-family: Roboto, sans-serif

  &.font-family-ptmono
    .medium-editor
      font-family: PT Mono, monospace


  &.font-size-small
    .medium-title,
    .medium-content h1
      font-size: 2.3rem

    .medium-content
      font-size: 0.8rem

  &.font-size-normal
    .medium-title,
    .medium-content h1
      font-size: 2.5rem

    .medium-content
      font-size: 1rem

  &.font-size-big
    .medium-title,
    .medium-content h1
      font-size: 2.7rem

    .medium-content
      font-size: 1.2rem

  &.font-size-bigger
    .medium-title,
    .medium-content h1
      font-size: 3rem

    .medium-content
      font-size: 1.5rem
