@import 'variables'

@mixin scrollbar($elem, $bg, $fg)
  #{ $elem }::-webkit-scrollbar
    width: $scrollbar-width
    background-color: $bg

  #{ $elem }::-webkit-scrollbar-track
    background-color: $bg

  #{ $elem }::-webkit-scrollbar-thumb
    background-color: rgba( $fg, .25 )
    border: 1px solid $bg
    border-radius: $scrollbar-width / 2


@mixin scheme-sidebar($bg, $fg, $border)
  #writer
    #sidebar
      background: $bg

      &.open
        border-right: 1px solid $border

    .file-tree-item
      &:hover
        background-color: darken( $bg, 6 )

    #configurations .select
      border-color: rgba( $fg, 0.75 )

      &:hover
        border-color: rgba( $fg, 0.35 )

  @include scrollbar('#sidebar-content', $bg, $fg)

@mixin scheme($bg, $fg)
  color: $fg

  #writer
    #background,
    #status-bar,
    #search-bar
      background: $bg

    #sidebar
      $shadow: rgba( $bg, 0.5 )

      #toggle .icon
        text-shadow:  2px 0 $shadow, -2px 0 $shadow, 0  2px $shadow, 0 -2px $shadow, 2px  2px $shadow, -2px  2px $shadow, 2px -2px $shadow, -2px -2px $shadow

    #search-bar
      input
        background: rgba( $fg, 0.1 )

      button
        border: 1px solid rgba( $fg, 0.2 )
        border-radius: 3px


    #context-menu
      color: $bg
      background: rgba( $fg, 0.9 )

    #modal
      background: darken( rgba( $bg, 0.6 ), 10 )

      .modal
        background: $bg

    .medium-content
      span.search
        color: $bg
        background: $fg


  &.scheme-sidebar-light
    @include scheme-sidebar( desaturate( lighten($bg, 5), 0), $fg, lighten( $bg, 10 ) )

  &.scheme-sidebar-dark
    @include scheme-sidebar( desaturate( darken($bg, 3), 0), $fg, darken( $bg, 10 ) )


  @include scrollbar('.editor .pane',    $bg, $fg)
  @include scrollbar('#modal', darken( $bg, 6 ), $fg)


#app
  &.scheme-sharp
    @include scheme($sharp-bg, $sharp-fg)

  &.scheme-smooth
    @include scheme($smooth-bg, $smooth-fg)

  &.scheme-frost
    @include scheme($frost-bg, $frost-fg)

  &.scheme-solarizedLight
    @include scheme($solarized-light-bg, $solarized-light-fg)

  &.scheme-solarizedDark
    @include scheme($solarized-dark-bg, $solarized-dark-fg)

  &.scheme-night
    @include scheme($night-bg, $night-fg)

  &.scheme-dark
    @include scheme($dark-bg, $dark-fg)

  &.scheme-contrast
    @include scheme($contrast-bg, $contrast-fg)


  &.font-family-ptserif
    .medium-editor
      font-family: PT Serif, serif

  &.font-family-merriweather
    .medium-editor
      font-family: Merriweather, serif

  &.font-family-slabo // unused
    .medium-editor
      font-family: Slabo, serif

  &.font-family-sourceserif // unused
    .medium-editor
      font-family: Source Serif Pro, serif

  &.font-family-ptsans
    .medium-editor
      font-family: PT Sans, sans-serif

  &.font-family-roboto
    .medium-editor
      font-family: Roboto, sans-serif

  &.font-family-lato // unused
    .medium-editor
      font-family: Lato, sans-serif

  &.font-family-ptmono
    .medium-editor
      font-family: PT Mono, monospace

  &.font-family-sharetech
    .medium-editor
      font-family: Share Tech, monospace

  &.font-family-overpass // unused
    .medium-editor
      font-family: Overpass, monospace


  &.font-size-small
    .medium-title,
    .medium-content h1
      font-size: 2.3rem

    .medium-content
      font-size: 0.8rem

  &.font-size-normal
    .medium-title,
    .medium-content h1
      font-size: 2.5rem

    .medium-content
      font-size: 1rem

  &.font-size-big
    .medium-title,
    .medium-content h1
      font-size: 2.7rem

    .medium-content
      font-size: 1.2rem

  &.font-size-bigger
    .medium-title,
    .medium-content h1
      font-size: 3rem

    .medium-content
      font-size: 1.5rem

  &.indent-x1
    .medium-title
      text-indent: 1rem

    .medium-content > *
      text-indent: 1rem

  &.indent-x2
    .medium-title
      text-indent: 2rem

    .medium-content > *
      text-indent: 2rem
