.hidden
  display: none !important

.float-left
  float: left

.float-right
  float: right

.file-tree-item
  position: relative
  display: flex
  align-items: center
  width: 100%
  height: $sidebar-file-tree-height
  padding: 0 1rem
  box-sizing: border-box
  white-space: nowrap
  user-select: none
  cursor: pointer
