// Cabin
@font-face
  font-family: 'Cabin'
  src: url('~@/assets/fonts/Cabin/Cabin-Regular.ttf') format('truetype')

@font-face
  font-family: 'Cabin'
  src: url('~@/assets/fonts/Cabin/Cabin-SemiBold.ttf') format('truetype')
  font-weight: bold

// Raleway
@font-face
  font-family: 'Raleway'
  src: url('~@/assets/fonts/Raleway/Raleway-Light.ttf') format('truetype')

// Merriweather
@font-face
  font-family: 'Merriweather'
  src: url('~@/assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype')

@font-face
  font-family: 'Merriweather'
  src: url('~@/assets/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype')
  font-weight: bold

@font-face
  font-family: 'Merriweather'
  src: url('~@/assets/fonts/Merriweather/Merriweather-Italic.ttf') format('truetype')
  font-style: italic

@font-face
  font-family: 'Merriweather'
  src: url('~@/assets/fonts/Merriweather/Merriweather-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

// Roboto
@font-face
  font-family: 'Roboto'
  src: url('~@/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype')

@font-face
  font-family: 'Roboto'
  src: url('~@/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype')
  font-weight: bold

@font-face
  font-family: 'Roboto'
  src: url('~@/assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype')
  font-style: italic

@font-face
  font-family: 'Roboto'
  src: url('~@/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

// Lato
@font-face
  font-family: 'Lato'
  src: url('~@/assets/fonts/Lato/Lato-Regular.ttf') format('truetype')

@font-face
  font-family: 'Lato'
  src: url('~@/assets/fonts/Lato/Lato-Bold.ttf') format('truetype')
  font-weight: bold

@font-face
  font-family: 'Lato'
  src: url('~@/assets/fonts/Lato/Lato-Italic.ttf') format('truetype')
  font-style: italic

@font-face
  font-family: 'Lato'
  src: url('~@/assets/fonts/Lato/Lato-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

// Source Serif Pro
@font-face
  font-family: 'Source Serif Pro'
  src: url('~@/assets/fonts/SourceSerifPro/SourceSerifPro-Regular.ttf') format('truetype')

@font-face
  font-family: 'Source Serif Pro'
  src: url('~@/assets/fonts/SourceSerifPro/SourceSerifPro-Bold.ttf') format('truetype')
  font-weight: bold

// PT Sans
@font-face
  font-family: 'PT Sans'
  src: url('~@/assets/fonts/PTSans/PT_Sans-Web-Regular.ttf') format('truetype')

@font-face
  font-family: 'PT Sans'
  src: url('~@/assets/fonts/PTSans/PT_Sans-Web-Bold.ttf') format('truetype')
  font-weight: bold

@font-face
  font-family: 'PT Sans'
  src: url('~@/assets/fonts/PTSans/PT_Sans-Web-Italic.ttf') format('truetype')
  font-style: italic

@font-face
  font-family: 'PT Sans'
  src: url('~@/assets/fonts/PTSans/PT_Sans-Web-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

// Share Tech
@font-face
  font-family: 'Share Tech'
  src: url('~@/assets/fonts/ShareTech/ShareTechMono-Regular.ttf') format('truetype')

// Slabo
@font-face
  font-family: 'Slabo'
  src: url('~@/assets/fonts/Slabo/Slabo27px-Regular.ttf') format('truetype')

// Overpass
@font-face
  font-family: 'Overpass'
  src: url('~@/assets/fonts/Overpass/OverpassMono-Regular.ttf') format('truetype')

@font-face
  font-family: 'Overpass'
  src: url('~@/assets/fonts/Overpass/OverpassMono-Bold.ttf') format('truetype')
  font-weight: bold

// PT Mono
@font-face
  font-family: 'PT Mono'
  src: url('~@/assets/fonts/PTMono/PTM55FT.ttf') format('truetype')
