// Cabin
@font-face
  font-family: 'Cabin'
  src: url('~@/assets/fonts/Cabin/Cabin-Regular.ttf') format('truetype')

@font-face
  font-family: 'Cabin'
  src: url('~@/assets/fonts/Cabin/Cabin-SemiBold.ttf') format('truetype')
  font-weight: bold

// Merriweather
@font-face
  font-family: 'Merriweather'
  src: url('~@/assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype')

@font-face
  font-family: 'Merriweather'
  src: url('~@/assets/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype')
  font-weight: bold

@font-face
  font-family: 'Merriweather'
  src: url('~@/assets/fonts/Merriweather/Merriweather-Italic.ttf') format('truetype')
  font-style: italic

@font-face
  font-family: 'Merriweather'
  src: url('~@/assets/fonts/Merriweather/Merriweather-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

// Roboto
@font-face
  font-family: 'Roboto'
  src: url('~@/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype')

@font-face
  font-family: 'Roboto'
  src: url('~@/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype')
  font-weight: bold

@font-face
  font-family: 'Roboto'
  src: url('~@/assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype')
  font-style: italic

@font-face
  font-family: 'Roboto'
  src: url('~@/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype')
  font-weight: bold
  font-style: italic

// PT Mono
@font-face
  font-family: 'PT Mono'
  src: url('~@/assets/fonts/PTMono/PTM55FT.ttf') format('truetype')
