html,
body,
#app,
.view
  width: 100vw
  height: 100vh
  overflow: hidden
  cursor: default

#app,
#sidebar,
#status-bar,
#context-menu,
#modal,
#writer,
#export-manager
  font-family: Cabin, sans-serif
