$sidebar-width: 304px
$sidebar-controls-width: 48px
$sidebar-controls-height: 48px
$sidebar-file-tree-height: 64px

$status-bar-height: 32px

$context-menu-item-height: 30px

$scrollbar-width: 7px


$color-subtle: rgba(0, 0, 0, 0.1)
$color-more-subtle: rgba(0, 0, 0, 0.05)
$color-less-subtle: rgba(0, 0, 0, 0.25)
$color-action: #3aacfd


$sharp-bg: #ffffff
$sharp-fg: #404852

$smooth-bg: #eaeae8
$smooth-fg: #6a6a66

$frost-bg: #f9fafc
$frost-fg: #4c7092

$solarized-light-bg: #fdf6e3
$solarized-light-fg: #002b36

$solarized-dark-bg: #002b36
$solarized-dark-fg: #fdf6e3

$night-bg: #212429
$night-fg: #d0d4d5

$dark-bg: #333231
$dark-fg: #d5d4d3

$contrast-bg: #0a0a0a
$contrast-fg: #fafafa
